<%%= if @live_action in [:new, :edit] do %>
  <%%= live_modal <%= inspect context.web_module %>.<%= inspect Module.concat(schema.web_namespace, schema.alias) %>Live.FormComponent,
    id: @<%= schema.singular %>.id || :new,
    title: @page_title,
    action: @live_action,
    <%= schema.singular %>: @<%= schema.singular %>,
    return_to: Routes.<%= schema.route_helper %>_index_path(@socket, :index) %>
<%% end %>


<div class="p-6">
  <div class="flex pb-6">
    <div class="w-/12 flex-1 text-4xl">
      <h1 class="px-4 -mb-2 mt-2"><%= schema.human_plural %></h1>
    </div>
    <div class="w-/12 text-4xl text-right px-4">
      <%%= styled_button_live_patch "New <%= schema.human_singular %>", to: Routes.<%= schema.route_helper %>_index_path(@socket, :new)%>
    </div>
  </div>

  <div class="shadow rounded px-1 py-1 bg-white">
    <table class="min-w-full leading-normal">
      <thead>
        <tr>
    <%= for {k, _} <- schema.attrs do %>      <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"><%= Phoenix.Naming.humanize(Atom.to_string(k)) %></th>
    <% end %>
          <th class="px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"></th>
        </tr>
      </thead>
      <tbody id="<%= schema.plural %>">
    <%%= case @<%= schema.plural %> do %>
      <%% [] -> %>
        <tr>
          <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm" colspan="<%= (schema.attrs |> Enum.count()) + 1 %>">
            No results.
          </td>
        </tr>
      <%% _ -> %>
        <%%= for <%= schema.singular %> <- @<%= schema.plural %> do %>
            <tr id={"<%= schema.singular %>-#{<%= schema.singular %>.id}"}>
        <%= for {k, _} <- schema.attrs do %>
          <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
            <%%= live_redirect <%= schema.singular %>.<%= k %>, to: Routes.<%= schema.route_helper %>_show_path(@socket, :show, <%= schema.singular %>) %>
          </td>
        <% end %>
              <td class="px-4 py-6 border-b border-gray-200 bg-white text-sm">
                <label class="relative">
                  ...
                  <input type="checkbox" class="hidden hidden-options-toggle">
                  <div class="hidden absolute right-0 rounded bg-white border shadow-lg py-6 w-48">
                    <%%= live_patch "Edit", to: Routes.<%= schema.route_helper %>_index_path(@socket, :edit, <%= schema.singular %>), class: "block px-4 py-2 hover:bg-gray-100" %>
                    <%%= link "Delete", to: "#", phx_click: "delete", phx_value_id: <%= schema.singular %>.id, data: [confirm: "Are you sure?"], class: "text-red-600 block px-4 py-2 hover:bg-gray-100" %>
                  </div>
                </label>
              </td>
            </tr>
        <%% end %>
    <%% end %>
      </tbody>
    </table>
  </div>
</div>
